<footer class="footer">
  <small>
    <a href="#">Volga_IT_2014</a>
    by Tanya Belousova
  </small>
  <nav>
    <ul>
      <li><%= link_to "Questions",   '/questions' %></li>
      <li><%= link_to "Users", '/users' %></li>
    </ul>
  </nav>
</footer>
